<%- include('header', { title: 'Zakończone przetargi' }) %>

<h1>Lista zakończonych przetargów</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Tytuł</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
    </tr>
  </thead>
  <tbody>
    <% tenders.forEach((t, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><a href="/tenders/<%= t.id %>"><%= t.title %></a></td>
        <td><%= t.start %></td>
        <td><%= t.end %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('footer') %>
